@using NimbusFox.Login_Site.CodeLibraries.Core
@model NimbusFox.Login_Site.Models.Core.Page
<footer>
    @if (Model.DisplayEditedTime) {
        var latestEdit = GlobalHelper.GetLatestEdit(Model.Page);
        <div>Page edited: @latestEdit.UpdateDate.ToString("dd/MM/yyyy h:mm:ss tt") by @latestEdit.WriterName</div><br />
    }

    Copyright @GlobalHelper.GetRoot().Name @DateTime.Now.Year
</footer>