<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT site ANY>
<!ATTLIST site id ID #REQUIRED>
<!ELEMENT pageMaster ANY>
<!ATTLIST pageMaster id ID #REQUIRED>
<!ELEMENT page ANY>
<!ATTLIST page id ID #REQUIRED>
<!ELEMENT menu ANY>
<!ATTLIST menu id ID #REQUIRED>
<!ELEMENT menuDropDown ANY>
<!ATTLIST menuDropDown id ID #REQUIRED>
<!ELEMENT menuLink ANY>
<!ATTLIST menuLink id ID #REQUIRED>
<!ELEMENT menuSubDropDown ANY>
<!ATTLIST menuSubDropDown id ID #REQUIRED>
<!ELEMENT visibilityMaster ANY>
<!ATTLIST visibilityMaster id ID #REQUIRED>
<!ELEMENT registerForm ANY>
<!ATTLIST registerForm id ID #REQUIRED>
<!ELEMENT loginForm ANY>
<!ATTLIST loginForm id ID #REQUIRED>
<!ELEMENT logoutDisplay ANY>
<!ATTLIST logoutDisplay id ID #REQUIRED>
<!ELEMENT ajaxGateway ANY>
<!ATTLIST ajaxGateway id ID #REQUIRED>
<!ELEMENT container ANY>
<!ATTLIST container id ID #REQUIRED>
<!ELEMENT content ANY>
<!ATTLIST content id ID #REQUIRED>
<!ELEMENT redirectCounter ANY>
<!ATTLIST redirectCounter id ID #REQUIRED>
]>
<root id="-1">
  <site id="1055" key="5de4a6ee-f389-485f-b678-85f081215784" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-02-03T19:20:53" updateDate="2018-02-04T14:48:24" nodeName="Site" urlName="site" path="-1,1055" isDoc="" nodeType="1054" creatorName="Nimbus Fox" writerName="Nimbus Fox" writerID="0" template="1052" nodeTypeAlias="site" isPublished="true">
    <title><![CDATA[Site]]></title>
    <loginPage><![CDATA[umb://document/b36e05cdd1f6441dac4469ba5b32668e]]></loginPage>
    <homePage><![CDATA[umb://document/c011659c21d74a188afd6a7a2eea9475]]></homePage>
    <registerPage><![CDATA[umb://document/c9d801f1263f4c76ab11b9c209efcc03]]></registerPage>
    <menu><![CDATA[umb://document/d6201027cf3b443fb93584e5b44dbf0b]]></menu>
    <reCaptchaColor><![CDATA[Dark]]></reCaptchaColor>
    <page id="1066" key="c011659c-21d7-4a18-8afd-6a7a2eea9475" parentID="1055" level="2" creatorID="0" sortOrder="0" createDate="2018-02-03T20:00:10" updateDate="2018-02-03T23:56:28" nodeName="Home" urlName="home" path="-1,1055,1066" isDoc="" nodeType="1057" creatorName="Nimbus Fox" writerName="Nimbus Fox" writerID="0" template="1052" nodeTypeAlias="page" isPublished="true">
      <title><![CDATA[Home]]></title>
      <displayEditedTime>1</displayEditedTime>
      <loginRequired>0</loginRequired>
    </page>
    <menu id="1069" key="d6201027-cf3b-443f-b935-84e5b44dbf0b" parentID="1055" level="2" creatorID="0" sortOrder="1" createDate="2018-02-03T20:06:59" updateDate="2018-02-03T20:07:08" nodeName="Menu" urlName="menu" path="-1,1055,1069" isDoc="" nodeType="1058" creatorName="Nimbus Fox" writerName="Nimbus Fox" writerID="0" template="0" nodeTypeAlias="menu" isPublished="true">
      <fullWidth>0</fullWidth>
      <title><![CDATA[Site Name]]></title>
      <menuLink id="1072" key="b26e7d38-c98f-4668-bb1b-5afe682ed7d8" parentID="1069" level="3" creatorID="0" sortOrder="0" createDate="2018-02-03T20:26:35" updateDate="2018-02-03T21:55:58" nodeName="Google" urlName="google" path="-1,1055,1069,1072" isDoc="" nodeType="1060" creatorName="Nimbus Fox" writerName="Nimbus Fox" writerID="0" template="0" nodeTypeAlias="menuLink" isPublished="true">
        <visibility><![CDATA[Non-Registered]]></visibility>
        <newPage>1</newPage>
        <targetUrl><![CDATA[https://google.com]]></targetUrl>
      </menuLink>
    </menu>
    <page id="1077" key="b36e05cd-d1f6-441d-ac44-69ba5b32668e" parentID="1055" level="2" creatorID="0" sortOrder="2" createDate="2018-02-03T23:53:16" updateDate="2018-02-05T22:40:16" nodeName="Login" urlName="login" path="-1,1055,1077" isDoc="" nodeType="1057" creatorName="Nimbus Fox" writerName="Nimbus Fox" writerID="0" template="1052" nodeTypeAlias="page" isPublished="true">
      <title><![CDATA[Login]]></title>
      <displayFooter>0</displayFooter>
      <displayHeader>0</displayHeader>
      <displayEditedTime>0</displayEditedTime>
      <loginRequired>0</loginRequired>
      <container id="1137" key="d6351609-fc4d-422c-844e-dba110ce6da3" parentID="1077" level="3" creatorID="0" sortOrder="1" createDate="2018-02-07T23:50:21" updateDate="2018-02-07T23:50:21" nodeName="Container" urlName="container" path="-1,1055,1077,1137" isDoc="" nodeType="1118" creatorName="Nimbus Fox" writerName="Nimbus Fox" writerID="0" template="0" nodeTypeAlias="container" isPublished="true">
        <type><![CDATA[CenteredDialog]]></type>
        <loginForm id="1079" key="a2587da2-7691-46c0-9f8c-5950d9e97794" parentID="1137" level="4" creatorID="0" sortOrder="1" createDate="2018-02-04T00:11:18" updateDate="2018-02-07T23:50:37" nodeName="Login Form" urlName="login-form" path="-1,1055,1077,1137,1079" isDoc="" nodeType="1075" creatorName="Nimbus Fox" writerName="Nimbus Fox" writerID="0" template="0" nodeTypeAlias="loginForm" isPublished="true" />
      </container>
    </page>
    <page id="1078" key="c9d801f1-263f-4c76-ab11-b9c209efcc03" parentID="1055" level="2" creatorID="0" sortOrder="3" createDate="2018-02-03T23:53:52" updateDate="2018-02-05T22:40:03" nodeName="Register" urlName="register" path="-1,1055,1078" isDoc="" nodeType="1057" creatorName="Nimbus Fox" writerName="Nimbus Fox" writerID="0" template="1052" nodeTypeAlias="page" isPublished="true">
      <title><![CDATA[Register]]></title>
      <displayFooter>0</displayFooter>
      <displayHeader>0</displayHeader>
      <displayEditedTime>0</displayEditedTime>
      <loginRequired>0</loginRequired>
      <container id="1119" key="86920ff4-e11b-41cc-a04c-cb052b118c9f" parentID="1078" level="3" creatorID="0" sortOrder="1" createDate="2018-02-05T21:30:24" updateDate="2018-02-05T22:19:01" nodeName="Dialog" urlName="dialog" path="-1,1055,1078,1119" isDoc="" nodeType="1118" creatorName="Nimbus Fox" writerName="Nimbus Fox" writerID="0" template="0" nodeTypeAlias="container" isPublished="true">
        <type><![CDATA[CenteredDialog]]></type>
        <registerForm id="1080" key="93ea4c5e-5522-424c-afec-2ac0df90098b" parentID="1119" level="4" creatorID="0" sortOrder="1" createDate="2018-02-04T00:11:28" updateDate="2018-02-05T21:30:48" nodeName="Register Form" urlName="register-form" path="-1,1055,1078,1119,1080" isDoc="" nodeType="1074" creatorName="Nimbus Fox" writerName="Nimbus Fox" writerID="0" template="0" nodeTypeAlias="registerForm" isPublished="true">
          <message><![CDATA[<p>Hello $username,</p>
<p> </p>
<p>Welcome to $sitename. Your account was registered $date_time_registered.</p>
<p> </p>
<p>Please click this link to validate your account:</p>
<p>$validation_link</p>
<p> </p>
<p>Thanks,</p>
<p>$sitename team</p>]]></message>
          <from><![CDATA[noreply@nimbusfox.uk]]></from>
          <redirectMessage><![CDATA[<p>Welcome to the site $username. You will be receiving an email to activate your account.</p>]]></redirectMessage>
          <subject><![CDATA[Welcome to the site]]></subject>
        </registerForm>
      </container>
    </page>
    <page id="1081" key="679773db-9861-42f5-bbda-376566993634" parentID="1055" level="2" creatorID="0" sortOrder="4" createDate="2018-02-04T00:13:51" updateDate="2018-02-04T00:13:51" nodeName="Logout" urlName="logout" path="-1,1055,1081" isDoc="" nodeType="1057" creatorName="Nimbus Fox" writerName="Nimbus Fox" writerID="0" template="1052" nodeTypeAlias="page" isPublished="true">
      <title><![CDATA[Logout]]></title>
      <displayEditedTime>0</displayEditedTime>
      <loginRequired>0</loginRequired>
      <logoutDisplay id="1082" key="ddaaf96a-eb88-4623-9ebd-ce18efa4211d" parentID="1081" level="3" creatorID="0" sortOrder="0" createDate="2018-02-04T00:14:01" updateDate="2018-02-04T00:14:01" nodeName="Logout Display" urlName="logout-display" path="-1,1055,1081,1082" isDoc="" nodeType="1076" creatorName="Nimbus Fox" writerName="Nimbus Fox" writerID="0" template="0" nodeTypeAlias="logoutDisplay" isPublished="true" />
    </page>
    <ajaxGateway id="1116" key="4c82f467-0df2-4ac8-8b36-50a2d87cca2d" parentID="1055" level="2" creatorID="0" sortOrder="5" createDate="2018-02-05T20:18:41" updateDate="2018-02-07T23:59:52" nodeName="API" urlName="api" path="-1,1055,1116" isDoc="" nodeType="1115" creatorName="Nimbus Fox" writerName="Nimbus Fox" writerID="0" template="1100" nodeTypeAlias="ajaxGateway" isPublished="true">
      <successfulAccountActivation><![CDATA[umb://document/a620a6e01cc245dc8f2c25af882f2bc4]]></successfulAccountActivation>
      <failedAccountActivation><![CDATA[umb://document/d4f6e16041a246b7b360b42756eb8b79]]></failedAccountActivation>
      <successfulAccountRegistration><![CDATA[umb://document/6ba5e58b1264442492b88581370eaddf]]></successfulAccountRegistration>
      <successfulLogin><![CDATA[umb://document/63e9f434dd0245a39810f2113340ac03]]></successfulLogin>
    </ajaxGateway>
    <page id="1126" key="a620a6e0-1cc2-45dc-8f2c-25af882f2bc4" parentID="1055" level="2" creatorID="0" sortOrder="6" createDate="2018-02-06T22:34:31" updateDate="2018-02-06T22:50:41" nodeName="Successful Activation" urlName="successful-activation" path="-1,1055,1126" isDoc="" nodeType="1057" creatorName="Nimbus Fox" writerName="Nimbus Fox" writerID="0" template="1052" nodeTypeAlias="page" isPublished="true">
      <title><![CDATA[Account Activated]]></title>
      <displayFooter>0</displayFooter>
      <displayHeader>0</displayHeader>
      <displayEditedTime>0</displayEditedTime>
      <loginRequired>0</loginRequired>
      <container id="1127" key="3420b7e8-b379-442b-aa8f-3e75a26158cb" parentID="1126" level="3" creatorID="0" sortOrder="0" createDate="2018-02-06T22:34:44" updateDate="2018-02-06T22:34:44" nodeName="Dialog" urlName="dialog" path="-1,1055,1126,1127" isDoc="" nodeType="1118" creatorName="Nimbus Fox" writerName="Nimbus Fox" writerID="0" template="0" nodeTypeAlias="container" isPublished="true">
        <type><![CDATA[CenteredDialog]]></type>
        <content id="1128" key="8e6258ab-1aee-4c67-af6d-18b016923a25" parentID="1127" level="4" creatorID="0" sortOrder="0" createDate="2018-02-06T22:37:13" updateDate="2018-02-06T23:10:45" nodeName="Message" urlName="message" path="-1,1055,1126,1127,1128" isDoc="" nodeType="1120" creatorName="Nimbus Fox" writerName="Nimbus Fox" writerID="0" template="0" nodeTypeAlias="content" isPublished="true">
          <editor><![CDATA[<p style="text-align:center">Congratulations $activated_member. Your account has been activated.</p>

<p style="text-align:center">You are now able to log into your account</p>
]]></editor>
        </content>
      </container>
    </page>
    <page id="1129" key="d4f6e160-41a2-46b7-b360-b42756eb8b79" parentID="1055" level="2" creatorID="0" sortOrder="7" createDate="2018-02-06T22:50:30" updateDate="2018-02-06T22:50:30" nodeName="Failed Activation" urlName="failed-activation" path="-1,1055,1129" isDoc="" nodeType="1057" creatorName="Nimbus Fox" writerName="Nimbus Fox" writerID="0" template="1052" nodeTypeAlias="page" isPublished="true">
      <title><![CDATA[Activation]]></title>
      <displayFooter>0</displayFooter>
      <displayHeader>0</displayHeader>
      <displayEditedTime>0</displayEditedTime>
      <loginRequired>0</loginRequired>
      <container id="1130" key="d810d52d-eb4f-4da0-86cc-14d4d24c2492" parentID="1129" level="3" creatorID="0" sortOrder="0" createDate="2018-02-06T22:50:55" updateDate="2018-02-06T22:50:55" nodeName="Container" urlName="container" path="-1,1055,1129,1130" isDoc="" nodeType="1118" creatorName="Nimbus Fox" writerName="Nimbus Fox" writerID="0" template="0" nodeTypeAlias="container" isPublished="true">
        <type><![CDATA[CenteredDialog]]></type>
        <content id="1131" key="8c8a8dce-c5a5-4a89-ae76-11c871409fc3" parentID="1130" level="4" creatorID="0" sortOrder="0" createDate="2018-02-06T22:51:12" updateDate="2018-02-06T23:07:54" nodeName="Message" urlName="message" path="-1,1055,1129,1130,1131" isDoc="" nodeType="1120" creatorName="Nimbus Fox" writerName="Nimbus Fox" writerID="0" template="0" nodeTypeAlias="content" isPublished="true">
          <editor><![CDATA[<p style="text-align:center"><span style="color:#FF0000">This account was not activated</span></p>
]]></editor>
        </content>
      </container>
    </page>
    <page id="1132" key="6ba5e58b-1264-4424-92b8-8581370eaddf" parentID="1055" level="2" creatorID="0" sortOrder="8" createDate="2018-02-07T00:42:40" updateDate="2018-02-07T00:42:40" nodeName="Successful Registration" urlName="successful-registration" path="-1,1055,1132" isDoc="" nodeType="1057" creatorName="Nimbus Fox" writerName="Nimbus Fox" writerID="0" template="1052" nodeTypeAlias="page" isPublished="true">
      <displayFooter>0</displayFooter>
      <displayHeader>0</displayHeader>
      <displayEditedTime>0</displayEditedTime>
      <loginRequired>0</loginRequired>
      <content id="1133" key="1f26dade-e81b-4beb-82f3-39d6fb32189a" parentID="1132" level="3" creatorID="0" sortOrder="0" createDate="2018-02-07T00:43:21" updateDate="2018-02-07T00:55:30" nodeName="Content" urlName="content" path="-1,1055,1132,1133" isDoc="" nodeType="1120" creatorName="Nimbus Fox" writerName="Nimbus Fox" writerID="0" template="0" nodeTypeAlias="content" isPublished="true">
        <editor><![CDATA[<p style="text-align:center">Please check your email to validate your account</p>
]]></editor>
      </content>
    </page>
    <page id="1138" key="63e9f434-dd02-45a3-9810-f2113340ac03" parentID="1055" level="2" creatorID="0" sortOrder="9" createDate="2018-02-07T23:58:08" updateDate="2018-02-07T23:58:08" nodeName="Successful Login" urlName="successful-login" path="-1,1055,1138" isDoc="" nodeType="1057" creatorName="Nimbus Fox" writerName="Nimbus Fox" writerID="0" template="1052" nodeTypeAlias="page" isPublished="true">
      <displayFooter>0</displayFooter>
      <displayHeader>0</displayHeader>
      <displayEditedTime>0</displayEditedTime>
      <loginRequired>0</loginRequired>
      <content id="1139" key="dbd732da-5c3e-4f64-82ea-d8bdfa1c491e" parentID="1138" level="3" creatorID="0" sortOrder="0" createDate="2018-02-07T23:58:38" updateDate="2018-02-07T23:58:38" nodeName="Content" urlName="content" path="-1,1055,1138,1139" isDoc="" nodeType="1120" creatorName="Nimbus Fox" writerName="Nimbus Fox" writerID="0" template="0" nodeTypeAlias="content" isPublished="true">
        <editor><![CDATA[<p style="text-align: center;">Welcome back $current_member</p>
]]></editor>
      </content>
      <redirectCounter id="1140" key="6d0d6f0c-9efe-42a3-9b47-7e2edd03b664" parentID="1138" level="3" creatorID="0" sortOrder="1" createDate="2018-02-07T23:59:17" updateDate="2018-02-07T23:59:17" nodeName="Redirect" urlName="redirect" path="-1,1055,1138,1140" isDoc="" nodeType="1136" creatorName="Nimbus Fox" writerName="Nimbus Fox" writerID="0" template="0" nodeTypeAlias="redirectCounter" isPublished="true">
        <redirectTo><![CDATA[umb://document/c011659c21d74a188afd6a7a2eea9475]]></redirectTo>
        <seconds>2</seconds>
      </redirectCounter>
    </page>
  </site>
</root>