@using NimbusFox.Login_Site.CodeLibraries.Core
@model IPublishedContent
<div class="modal-dialog-center modal-dialog">
    <div class="modal-content-center modal-content">
        <div class="modal-body">
            @foreach (var child in Model.Children) {
                Html.RenderAction(child.DocumentTypeAlias, GlobalHelper.ContentBuilder, new { page = child });
            }
        </div>
    </div>
</div>
