@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Login_Site.CodeLibraries.Core
@using ContentModels = Umbraco.Web.PublishedContentModels;

@{
    Layout = null;

    var content = Model.Content;

    var site = new Login_Site.Models.Core.Site(GlobalHelper.GetRoot());

    var menu = site.Menu;

    Session.Add("PageId", Model.Content.Id);

    var loginPageGoTo = content.GetPropertyValue("redirectToLogin", defaultValue: false);

    if (loginPageGoTo && !MembersHelper.IsLoggedIn) {
        Session.Add("RedirectBack", content.Id);

        var loginPage = site.Pages.LoginPage;

        Response.Redirect(loginPage != null ? loginPage.UrlWithDomain() : site.Page.Url);
    }
}
<!DOCTYPE html>
<html>
<head>
    <title>@PageHelper.PageTitle(content)</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/bundles/Style")
    @Scripts.Render("~/bundles/Scripts")
    @if (!GlobalHelper.IsDev && !site.GoogleServices.AnalyticsID.IsNullOrWhiteSpace()) {
        <script async src="https://www.googletagmanager.com/gtag/js?id=@site.GoogleServices.AnalyticsID"></script>
        <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() { dataLayer.push(arguments); }
                gtag('js', new Date());

                gtag('config', '@site.GoogleServices.AnalyticsID');
        </script>
    }
    @if (GlobalHelper.HasValidReCaptcha) {
        <script src="https://www.google.com/recaptcha/api.js"></script>
    }
</head>
    <body>
        <div class="body-content container">
            @{Html.RenderAction(content.DocumentTypeAlias, GlobalHelper.ContentBuilder, new { page = content });}
            @{Html.RenderAction("Cookies", GlobalHelper.ContentBuilder);}
        </div>
        @if (menu != null) {
            Html.RenderAction("Menu", GlobalHelper.ContentBuilder, new { page = menu });
        }
    </body>
</html>