<?xml version="1.0" encoding="utf-8"?>
<optimus>
  <settings>
    <setting key="onlyAllowCssFilesInEditor" value="True" />
    <setting key="onlyAllowJsFilesInEditor" value="True" />
    <setting key="compileDynamicStyleSheetsToCss" value="True" />
    <setting key="compileDynamicJavaScriptToJs" value="True" />
    <setting key="ignoreCompilationDebug" value="True" />
  </settings>
  <bundles>
    <scriptBundle virtualPath="~/bundles/Scripts" disableMinification="True">
      <include virtualPath="~/scripts/jquery-3.0.0.js" />
      <include virtualPath="~/scripts/jquery.signalR-2.2.2.js" />
      <include virtualPath="~/scripts/modernizr-2.6.2.js" />
      <include virtualPath="~/scripts/respond.js" />
      <include virtualPath="~/scripts/bootstrap.bundle.js" />
      <include virtualPath="~/scripts/jquery.unobtrusive-ajax.js" />
      <include virtualPath="~/scripts/jquery.validate.js" />
      <include virtualPath="~/scripts/jquery.validate.unobtrusive.js" />
      <include virtualPath="~/scripts/LoginSystem/global.js" />
    </scriptBundle>
    <styleBundle virtualPath="~/bundles/Style" disableMinification="False">
      <include virtualPath="~/css/bootstrap.css" />
      <include virtualPath="~/css/Site.css" />
    </styleBundle>
  </bundles>
</optimus>